@import "../../vars.css";


.container {
  text-align: center;
  margin: 100px auto;
  max-width: 1080px;
  padding: 0 20px; 
}


.title {
  color: var(--color-text); 
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8efe4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  gap: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}


.aboutImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #ddd;
  border-radius: 10px; 
}


.aboutContent {
  text-align: left;
  flex: 1;
}

.aboutContent h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.aboutContent p {
  font-size: 18px;
  line-height: 1.6;
  color: #141414;
  padding: 3px;
  margin: 0; 
}


@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    padding: 20px;
    gap: 30px; 
  }

  .aboutImage {
    width: 210px;
    height: 210px;
  }

  .aboutContent {
    text-align: center;
  }

  .aboutContent p {
    font-size: 16px; 
  }
}
