* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
html {
    scroll-padding-top: 180px; /* Adjust this based on your navbar height */
}


html {
    scroll-behavior: smooth;
}

/* Custom Scrollbars (Optional) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}