:root {
    /* Colors */
    --color-text: #000000;
    --color-primary: #33444E;
    --color-secondary: #212A31;
    --color-tertiary: #ffffff;
    --color-dark: #7B7B7D;
    --color-bg: #EDEEF1;

    /* Fonts */
    --font-roboto: "Roboto";
}